<div class="post media">
    <div class="jumbotron">
        <h5 class="media-heading">
        <span class="username">
            <a class="username"href="{% url 'posts:profile' username=comment.author.username %}">@{{comment.author.username}}</a>
        </span>
        </h5>
        <p class="post_content">{{comment.text}}</p>
        <time class="time">
            <p>{{comment.created_at}}</p>
        </time>
        
        <nav class="navbar nav-post navbar-expand-lg">
            <ul class="navbar-nav">
                {% if user in comment.likes.all %}
                <form class='form-inline' action="{% url 'posts:unlike_comment' pk=comment.pk%}"  method="POST">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-outline-dark" name="comment_pk" value="{{comment.pk}}">Unlike {{comment.like_count}}</button>
                </form>
                {% else %}
                <form class='form-inline' action="{% url 'posts:like_comment' pk=comment.pk%}"  method="POST">
                    {% csrf_token %}
                <button type="submit" class="nav-link btn btn-outline-dark" name="comment_pk" value="{{comment.pk}}">Like {{comment.like_count}}</button>
                </form>
                {% endif %}
            </form>
            <li class="nav-item">
                {% if user.is_authenticated and comment.author == user %}
                <a href="{% url 'posts:delete_comment' pk=comment.pk %}" class="nav-link btn btn-outline-danger">delete comment</a>
            {% endif %}
            </li>
            </ul>
        </nav>
        
    
        
    </div>
</div>