<div class="post media">
    <div class="jumbotron">
        <h5 class="media-heading">
        <span class="username">
            <a href="{% url 'posts:profile' username=post.author.username %}" class="username">@{{post.author.username}}</a>
        </span>        
        </h5>
        <div class="container">
            <p>
                <a href="{% url 'posts:single' pk=post.pk %}" class="post_content">
                    <span class="post_content">{{post.message}}</span>
                </a>
            </p>
        </div>
        
        <time class="time">
            <p>{{post.created_at}}</p>
        </time>

        <nav class="navbar nav-post navbar-expand-lg">
            <ul class="navbar-nav">
                {% if user in post.likes.all %}
                <form class='form-inline' action="{% url 'posts:unlike' pk=post.pk %}"  method="POST">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-outline-dark" name="post_pk" value="{{post.pk}}">Unlike {{post.like_count}}</button>
                </form>
                {% else %}
                <form class='form-inline' action="{% url 'posts:like' pk=post.pk %}"  method="POST">
                    {% csrf_token %}
                <button type="submit" class="nav-link btn btn-outline-dark" name="post_pk" value="{{post.pk}}">Like {{post.like_count}}</button>
                </form>
                {% endif %}
            </form>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="#" class="nav-link btn btn-outline-dark">Comment {{post.comments.count}}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                {% if user.is_authenticated and post.author == user %}
                <a href="{% url 'posts:delete' pk=post.pk %}" class="nav-link btn btn-outline-danger">delete post</a>
            {% endif %}
            </li>
            </ul>
        </nav>
    </div>
</div>