<div class="jumbotron">
    <h5>
       <a href="{% url 'posts:profile' username=post.author.username %}" class="username">
        @{{post.author}}</a>
        <span class="username">
            reposted <a class="username" href="{% url 'posts:profile' username=post.post.author.username %}">@{{post.post.author.username}}</a>'s post
        </span>
    </h5>
    <a class="btn-outline-dark repost" href="{% url 'posts:single' pk=post.post.pk %}">
        <div class="jumbotron2">
            <h5 class="media-heading">
                <span class="username">
                   <span class="username">@{{post.post.author.username}}</span>
                </span>        
            </h5>
            <p class="post_content">{{post.post.message}}</p>
            <time class="time">
                <p>{{post.post.created_at}}</p>
            </time>
        </div>
    </a>
    {% if user.is_authenticated and repost.author == user %}
        <a href="{% url 'posts:delete_repost' pk=post.pk %}" class="btn btn-outline-danger">delete repost</a>
    {% endif %}
    <time class="time">
        <p>{{post.created_at}}</p>
    </time>
</div>