{% extends 'posts/post_base.html' %}


{% block profile %}
    <h1>@{{post_user.username}}</h1>
    <p>{{post_user.userprofile.pronouns}}</p>
    <p>{{post_user.userprofile.bio}}</p>
    
    {% if user == post_user %}
    <a href="{% url 'accounts:edit_profile' pk=user.id %}" class="btn btn-outline-dark">edit profile</a>
    {% else %}
    <a href="#" class="btn btn-outline-dark">Follow</a>
    {% endif %}
{% endblock profile %}
    

{% block post_content %}
  
    
    {% for post in post_list %}
        {% include 'posts/_post.html' %}
    {% endfor %}
        

    {% for repost in reposts %}
        {% include 'posts/_repost.html' %}
    {% endfor %}
            
{% endblock post_content %}
    
