a.nav-link .dropdown-toggle{
    margin-left: 150px !important;
}

.jumbotron {
    margin: auto;
    padding: 2rem 1rem;
    margin-top: 2rem;
    background-color: darkgrey;
    border-radius: .3rem;
    width: 75% !important;
  }
.jumbotron2 {
margin: auto;
padding: 2rem 1rem;
margin-top: 2rem;
background-color: grey;
border-radius: .3rem;
color: white;
}
body{
    padding-top: 0px;
}
.comment-btn{
    margin-top: .25rem;
}

.post_content{
    color: black;
    text-decoration: none;
}

.username{
    color: white;
    text-decoration: none !important;
}

.inline{
    display: inline;
}
.nav-post{
    text-align: center;
}
div.col-md-3{
    background-color: darkgrey;
    color: White;
    overflow: hidden;
}

div.col-md-9{
    height: 65rem;
    background-color: lightgray;
    color: black;
    overflow:auto;
}

.glyphicon-trash{
    size: 1em;
    color: black;
}